{
  "presets": [
    ["@babel/env", { "modules": false}],
    ["@babel/react"]
  ],
  "plugins": [
    ["@babel/transform-runtime", {
      "corejs": 2
      }],
    "transform-promise-to-bluebird",
    "@babel/syntax-dynamic-import",
    ["@babel/proposal-decorators", {"legacy": true}],
    "@babel/plugin-transform-async-to-generator",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [["@babel/env", {"modules": "commonjs"}]]
    }
  },
  "sourceMaps": true,
  "retainLines": true
}
